.Product-list-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
  background-color: #e3e3e3;

}

body {
  background-color: #e3e3e3;

}

.section-name {
  text-align: center;
  background-color: #e3e3e3;
  margin: 0;
  padding: 30px;
}
